html {
    /* General color definitions */
    --sb-transparent-color: rgba(0, 0, 0, 0);
    --sb-light-color: rgba(255, 255, 255, 0.75);

    /* Color palette */
    --sb-primary-color: rgb(105, 130, 105);
    --sb-secondary-color: rgb(185, 155, 107);
    --sb-tertiary-color: rgb(241, 219, 191);
    --sb-quartenary-color: rgb(170, 86, 86);

    /* Darker variant of the color palette */
    --sb-primary-dark-color: rgb(42, 52, 42);
    --sb-secondary-dark-color: rgb(79, 63, 38);
    --sb-tertiary-dark-color: rgb(142, 93, 31);
    --sb-quartenary-dark-color: rgb(68, 34, 34);
}