@import url('color.css');
@import url('font.css');

html {
    /* Radius definitions */
    --sb-primary-radius: 18pt;
    --sb-secondary-radius: 8pt;

    /* Border definitions */
    --sb-primary-border-width: 3pt;
    --sb-secondary-border-width: 2pt;

    /* Transition definitions */
    --sb-fast-transition: 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    --sb-normal-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);

    /* UI-related definitions */
    --sb-icon-size: 18pt;

    --sb-frame-size: 36pt;
    --sb-frame-radius: 100%;

    --sb-spacing: 16pt;
    --sb-smaller-spacing: calc(var(--sb-spacing) / 2);

    /* Brand-related definitions */
    --sb-logo-font-size: 16pt;
}

html, body {
    margin: 0;
    padding: 0;
}